.footerBox {
  background: black;
  height: 50vh;
  display: grid;
  color: #ccc;
}
footer a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  transform: scale(1.08);
}

.cardContainer {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  place-items: center;
  margin: auto;
}
.card {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
  margin-bottom: 35px;
}
.cards {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
  padding: 8px;
}
.card:hover {
  transform: (scale3d(1.02));
}
.circleGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  place-items: center;
  width: 20%;
  margin: auto;
}
.circleContainer {
  background: linear-gradient(to right, red, orange);
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.circle {
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.circle img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: auto;
}

.circleContainer:hover {
  transform: scale(1.08);
}
